body{
    background: linear-gradient(
        220deg,
        #18191e 0%,
        #18191e 55%,
        #111216 55%,
        #111216 100%
      );
  
}

h1, h2 {
    color: goldenrod;
}


span{
    font-size: medium;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}
 
.flex-center {
    align-items: center;
}


.accordion-button{
    margin-bottom: 10px;
}

.accordion-header{
    font-size: small;
}




.accordion-body {
    margin-top: 15px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    color: goldenrod;
    font-size: medium;
   
}
 
.circle-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: goldenrod;
    border: 5px solid #b2bfff;
    color: #fff;
    margin-left: -20px;
    margin-right: 10px;
    transform: scale(1.2);
}
.accordion-item{
    border: 0px!important;
}
.accordion-button:not(.collapsed){
    border: 0px!important;
    color: goldenrod;
    background-color: forestgreen;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%);
}

.footer-p{
    font-size: medium;
  }




